<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ejderas">Erika</a>. A coder trying to design her virtual future.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Erika Deras</h2>
      <hr>
      <p class="text-center">
       Erika started working with HTML and CSS at a very young age. A favorite hobby became a blooming passion in her adult years. One day, she bravely joined The Firehose Project and never looked back. Now she's coding her little heart off.
       <br />
        <p class="text-center">
           If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
        </p>
     </div>
    </div>
  </div>
</div>


<br />
<br />
<br />
<br />
